@import "tailwindcss";

@theme {
  --font-family-sans: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-sans);
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (min-width: 480px) {
  .xs\:inline {
    display: inline !important;
  }
}
